# Dependencies
node_modules

# Build
.next
out
build
dist

# Misc
.git
.vercel

# Prisma
prisma/migrations

# Package managers
yarn.lock
package-lock.json
pnpm-lock.yaml

# Generated
*.min.js
*.min.css
